
.popup-container {

	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.open-btn {
	/* font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1rem 2.5rem;
	cursor: pointer; */
}
.popup {
	/* position: absolute; */
	width: 100%;
	/* height: 100vh; */
	display: none;

	overflow: hidden;
	/* background-color: aqua; */
}
.popup-overlay {
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	position: absolute;
}
.main-popup {
	position: absolute;
	right: 100px;
  background-color: rgba(255, 255, 255, 1);
  width: 80%;

	z-index: 1;
	padding: 30px 20px;
	line-height: 1rem;

	justify-content: center;
	align-items: center;
	/* transform: translateX(-100%); */
}
.close-btn {
	border: .6px solid white;
	padding: 10px;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	transition: .5s ease all;
}
.close-btn:hover {
	background: white;
}

@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(+100%);
	}
}
