.rb-img_container{
  display: flex;
  margin-left: auto;
  margin-right: auto;

}
#hal_logo{

    width:400px;
    height:205px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    margin-bottom:40px;
}






